{% block sidebar %}

        <style>
                {% comment %} .card{
                    box-shadow: 0 14px 48px #f0f0f0;
                } {% endcomment %}
            
        </style>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
        <div class="card my-4">
                <h5 class="card-header">Offers</h5>
            <div class="card-body">
                {% comment %} <p class="card-text"> turn this into comments</p> {% endcomment %}
                <form action="/blog/{{ post.slug }}/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.author }}
                    </div>
                    <div class="form-group">
                        {{ form.body }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit &rarr;</button>
                </form>
                <h4>Comments:</h4>
                {% for comment in comments %}
                <p>
                    On {{comment.created_on.date }}&nbsp;
                    <b>{{ comment.author }}</b> wrote:
                </p>
                <p>{{ comment.body }}</p>
                <hr>
                {% endfor %}
            </div>
        </div>
        </div>
{% endblock sidebar %}